<section class="contact_section layout_padding-top">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-md-6">
                <div id="map" class="h-100 w-100 ">
                </div>
            </div>
            <div class=" col-md-6 contact_form-container">
                <div class="contact_box">
                    <form action="/message" method="post" autocomplete="off">
                        <input type="text" minlength="2" required name="name" placeholder="Votre Nom">
                        <input type="email" minlength="5" required name="email" placeholder="Adresse E-mail">
                        <input type="tel" required minlength="5" name="phone" placeholder="Numéro de téléphone">
                        <input type="text" required minlength="10" name="message" placeholder="Message">
                        <input type="hidden" id="current_location" name="location" value="">
                        <script>
                            document.getElementById('current_location').value = location.pathname
                        </script>
                        <div>
                            <button type="submit">
                                Envoyer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>