<section class="security_section layout_padding">
    <h3>
        {{ heading.security.h3 }}
    </h3>
    <h2>
        {{ heading.security.h2 }}
    </h2>
    <div class="security_container">
        <div class="carousel-wrap">
            <div class="owl-carousel">
                {%- for item in guards -%}
                <div class="item">
                    <div class="security_img-box" style="background-image: url('{{ item.image }}');">
                        <a href="/service">Voir Plus</a>
                    </div>
                </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
    <div class="security_btn">
        <a href="/service">
            <span>
                Lire Plus
            </span>
            <img src="/images/arrow-black.png" alt="" class="ml-2" />
        </a>
    </div>
</section>