<section class="service_section ">
    <div class="container">
        <div class="service_detail">
            <h3>
                {{ heading.service.h3 }}
            </h3>
            <h2>
                {{ heading.service.h2 }}
            </h2>
        </div>
        <div class="service_img-container">
            <div class="service_img-box i-box-1">
                <a href=""> Bank security</a>
            </div>
            <div class="service_img-box i-box-2">
                <a href="">society Guard </a>
            </div>
            <div class="service_img-box i-box-3">
                <a href="">Hotel Security </a>
            </div>
            <div class="service_img-box i-box-4">
                <a href=""> Home security</a>
            </div>
        </div>
        <div class="service_btn">
            <a href="/service">
                <span>
                    Lire Plus
                </span>
                <img src="images/arrow-black.png" alt="" class="ml-2" />
            </a>
        </div>
    </div>
</section>