{% layout 'layout.liquid' %}
{% block content %}


<section class="security_section layout_padding">
    <h3>
        Contact
    </h3>
    <h2>
        Contactez-nous
    </h2>
</section>
{% render 'sections/contact.liquid' %}

{% endblock %}