{% layout 'layout.liquid' %}
{% block content %}

<div class="mt-5"></div>

{% render 'sections/service.liquid', services: services %}

{% render 'sections/security.liquid', guards: guards %}

{% endblock %}