{% layout 'layout.liquid' %}
{% block content %}
<div class="my-5"></div>

<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>{{ article.title }}</h1>
        </div>
        <div class="col-12 mb-4">
            <img style="width: 100%; height:auto;" src="{{ article.image }}" alt="{{ article.title }}">
        </div>
        <div class="col-12 mb-5">
            {{ article.text }}
        </div>
    </div>
</div>

{% endblock %}